/* === header nav hero tasks projects clients pricing cards links footer === */

:root
{
    --max-width: 1400px;
    --box-shadow: 0px 0px 30px rgba(122, 104, 254, 0.2);
/* === 0 === */
    --hue: 0;
    /* 16, 100%, 50% */
    --primary-color: hsl(calc(var(--hue) + 16), 100%, 50%);
    /* 210, 100%, 56% */
    --secondary-color: hsl(calc(var(--hue) + 210), 100%, 56%);
    /* 9, 100%, 64% */
    --optional-color: hsl(calc(var(--hue) + 9), 100%, 50%);

}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all .3s linear;
    scroll-behavior: smooth;
    text-transform: capitalize;
}

img{
    filter: brightness(1.2) saturate(1.3) contrast(1.2);
    object-fit: cover;
    background-position: center;
    background-size: cover;
    width: 100%;
}


img,
picture,
svg,
video
{
    display: block;
    max-width: 100%;
}


/* 
input,
textarea,
button,
select
{
    font: inherit;
} */


/* 
*
{
    font: inherit;
} */



a
{
    /* color: var(--dark); */
    color: inherit;
    text-decoration: none;
    text-transform: inherit;
}
.link{
    cursor: pointer;
}
.primary_color
{
    color: var(--primary-color);
}
.secondary_color
{
    color: var(--secondary-color);
}
#theme
{
    padding: .2rem;
    width: 60px;
    height: 30px;
    border-radius: 2rem;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: inset var(--box-shadow);
}
#theme span
{
    height: 100%;
    aspect-ratio: 1;
    padding: .7rem;
    border-radius: 50%;
    background: var(--light);
}
#theme.active
{
    justify-content: flex-end;
}
button,
.primary_button,
.primary_circle_button
{
    border-radius: .5em;
    padding: .8rem;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    background: var(--primary-color);
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    box-shadow: var(--box-shadow);
}
.primary_button
{
    background: var(--primary-color);
    color: hsl(0, 0%, 100%);
}
.primary_circle_button
{
    border-radius: 50%;
    aspect-ratio: 1;
}
body
{
    --dark: hsl(0, 0%, 0%);
    --light: hsl(0, 0%, 100%);

    background: var(--light);
    color: var(--dark);
    overflow-x: hidden;
}
body.active
{
    --dark: hsl(0, 0%, 90%);
    --light: hsl(0, 0%, 10%);
}
input{
    color: var(--dark);
    padding: 1rem;
    border: 0;
    outline: 0;
    background: transparent;
}
input:invalid
{
    animation: shake .3s;
}
@keyframes shake
{
    25%
    {
        transform: translateX(4px);
    }
    50%
    {
        transform: translateX(-4px);
    }
    75%
    {
        transform: translateX(4px);
    }
}


h1
{
    font-size: 3.5em;
}
p{
    color: gray;
    text-transform: capitalize;
    text-align: justify;
}
ul{
    list-style: none;
}
main
{
    width: 100%;
}

section.container
{
    max-width: var(--max-width);
    width: 100%;
    margin-inline: auto;
    position: relative;
}
/* =========== header ========== */

header
{
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
}
header *
{
    color: hsl(0, 0%, 100%);
}
header span.clip_text
{
    background: hsl(0, 0%, 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
header a
{
    text-transform: lowercase;
    padding: .4rem;
    border-radius: 50%;
    aspect-ratio: 1/.4;
    font-weight: bold;
}
header section.container.flex
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .4rem;
    font-size: .9em;
}
header .right_section .link.clip_text
{
    border: 1px solid hsl(0, 0%, 100%);
    padding: .4rem;
    aspect-ratio: 1;
    font-size: 1rem;
    display: flex;
}

.flex
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
/* =========== nav =========== */
nav section.content
{
    min-height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: .5rem;
}
nav *{
    z-index: 999;
}
.logo
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo p
{
    color: var(--primary-color);
    font-size: 1.4em;
}
.logo img{
    width: 40px;
}
nav .navbar ul{
    display: flex;
    gap: 1rem;
    text-transform: uppercase;
    color: var(--dark);
}
nav li{
    cursor: pointer;
    position: relative;
}

@media (max-width: 520px)
{
    header{
        padding: 0;
        height: 0;
    }
    header *{
        display: none !important;
    }
    nav ul li
    {
        display: none;
    }
}

nav ul li::after
{
    content: '';
    background: var(--primary-color);
    width: 0px;
    height: .2em;
    border-radius: .5em;
    position: absolute;
    bottom: -.5em;
    left: 0;
    transition: all .4s;
}
nav li.active::after,
nav li:hover::after
{
    width: 100%;
}

nav .navbar .primary_button
{
    padding: 0;
    font-size: 2em;
    background: transparent;
    color: var(--primary-color);
    border: 0;
    outline: 0;
    box-shadow: none;
}

/* =========== hero(1) ============ */
.hero
{
    position: relative;
    min-height: 100vh;
    width: 100%;
}
.heading_admin
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.heading_admin h1
{
    opacity: 0;
    transform: translateX(100%);
    transition: 1.6s ease-in-out;
    animation: hero_section_animate 1.6s ease-in-out;
}
@keyframes hero_section_animate
{
    0%
    {
        opacity: 0;
        transform: translateX(100%);
    }  
    100%
    {
        opacity: 1;
        transform: translateX(0);
    }  
}
.hero h1
{
    font-size: 16vw;
    width: 100%;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: transparent;
    line-height: .8;
    font-weight: 900;
    background: linear-gradient(var(--primary-color) ,var(--light));
    -webkit-background-clip: text;
    background-clip: text;
    letter-spacing: 0;
    word-spacing: 0;
}
.hero h1.absolute
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.hero h1.z_index
{
    z-index: 1;
    color: transparent;
    background: transparent;
    -webkit-text-stroke: 1px var(--light);
}
.hero .bio
{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
}
.hero .bio_data
{
    z-index: 1;
    position: absolute;
    bottom: 10rem;
    left: 2rem;
    backdrop-filter: blur(10px);
    padding: 2rem;
    border-radius: 1rem;
    /* box-shadow: var(--box-shadow); */
}
@media (max-width: 520px)
{
    .hero h1
    {
        font-size: 20vw;
        line-height: normal;
    }
    .hero .bio_data
    {
        left: 0rem;
    }
    
}
.hero .flex_col
{
    align-items: flex-start;
}
.flex_col
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.title
{
    opacity: .9;
    font-size: .85em;
}
.hero #typing
{
    opacity: .8;
    font-size: .85em;
    letter-spacing: 3px;
    position: relative;
    animation: typing 10s ease-in-out infinite;
    justify-content: flex-start;
    gap: 0;
}
.hero .title
{
    white-space: nowrap;
    overflow: hidden;
}
#typing_indecator
{
    animation: typing_indecator .7s infinite;
}
@keyframes typing
{
    0%
    {
        width: 5px;
    }
    40%
    {
        width: 100%;
    }
    60%
    {
        width: 100%;
    }
    100%
    {
        width: 5px;
    }   
}
@keyframes typing_indecator {
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }  
}
.hero p
{
    max-width: 400px;
}
.hire_me
{
    box-shadow: var(--box-shadow);
    background: var(--light);
    padding: .5rem;
    border-radius: .5rem;
}
.hire_me input
{
    flex: 1 1 100%;
    padding: .5rem;
    text-transform: lowercase;
}
#email
{
    border-right: 1px solid gray;
}
#zip
{
    width: 60px;
}
.hero .primary_button a
{
    /* padding: .8rem; */
    text-transform: uppercase;
    white-space: nowrap;
}
.hero img
{
    max-width: 700px;
    width: 100%;
    aspect-ratio: 1/1.38;
    object-fit: contain;
    position: absolute;
    right: 0;
    bottom: 0;
}
/* =========== tasks (2) ============== */
section.tasks .bottom
{
    align-items: center;
    justify-content: space-evenly;
    gap: 4rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
section.tasks .bottom > div
{
    flex: 1 1 400px;
    box-shadow: var(--box-shadow);
    border-radius: 1.5rem;
    padding: 2rem;
    max-width: 400px;
    min-height: 480px;
    align-items: center;
    justify-content: space-between;
}
section.tasks .left_box .down_box
{
    align-items: center;
    justify-content: space-between;
}
section.tasks .dot
{
    width: 20px;
    height: 20px;
    aspect-ratio: 1 !important;
    border-radius: 50%;
    padding: .8rem;
    position: relative;
    color: hsl(0, 0%, 100%);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
}
section.tasks .dot::before
{
    content: '';
    position: absolute;
    top: -75px;
    height: 70px;
    border-left: 2px dashed gray;
    box-shadow: var(--box-shadow);
    z-index: -1;
}
section.tasks .left_box .green::before
{
    content: '';
    position: absolute;
    bottom: 0px;
    height: 0px;
    border-left: 0px dashed gray;
}
.green
{
    background: var(--primary-color);
}
.orangered
{
    background: var(--secondary-color);
}
section.tasks .left_box .down_box p.box
{
    box-shadow: var(--box-shadow);
    padding: 1.2rem;
    border-radius: .5rem;
}
section.tasks .left_box .down_box p.top_box
{
    background: var(--primary-color);
    color: hsl(0, 0%, 100%);
}
section.tasks .right_box .primary_button
{
    cursor: default;
}
section.tasks .right_box .padd .primary_button
{
    padding: .5rem;
    aspect-ratio: 1;
    border-radius: 50%;
}
section.tasks .right_box .secondary_color_bg
{
    background: var(--secondary-color) !important;
    border: 1px solid var(--secondary-color);
}
section.tasks .right_box .circle_progress h1
{
    font-size: 2.2em;
}
section.tasks .right_box .circle_progress
{
    box-shadow: var(--box-shadow);
    aspect-ratio: 1 !important;
    border-radius: 50%;
    width: 70%;
    align-items: center;
    justify-content: center;
    position: relative;
    background: linear-gradient(120deg, var(--primary-color) 70%,var(--secondary-color) 30%);
}
section.tasks .right_box .circle_progress *
{
    z-index: 1;
}
section.tasks .right_box .circle_progress::after
{
    content: '';
    aspect-ratio: 1 !important;
    border-radius: 50%;
    width: 93%;
    height: 93%;
    background: var(--light);
    box-shadow: inset var(--box-shadow);
    background: var(--light);
    position: absolute;
}
section.tasks .right_box .green::before
{
    top: -120px;
    height: 120px;
}

section.tasks .left_box,
section.tasks .right_box
{
    opacity: 0;
    transform: translateX(-100%);
}
section.tasks .right_box
{
    opacity: 0;
    transform: translateX(100%);
}

/* =========== clients (3) =========== */
section.content
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 10rem 2rem;
}

.heading_section
{
    position: relative;
}
.heading_section h1
{
    background: repeating-radial-gradient(circle at 0% 0%, var(--light) 2%, var(--dark) 6%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.heading_section::after
{
    content: '';
    width: 40px;
    height: 4px;
    border-radius: .2rem;
    background: var(--primary-color);
    position: absolute;
    bottom: -30px;
}
section.clients .bottom
{
    align-items: center;
    justify-content: space-evenly;
    gap: 4rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
section.clients .client_flex
{
    max-width: 750px;
}
section.clients .client_flex .client_1
{
    transition: all 1s ease-in-out;
}
section.clients .client_flex .client_2
{
    transition: all 1.5s ease-in-out;
}
section.clients .client_flex .client_3
{
    transition: all 2s ease-in-out;
}
section.clients .client_flex .client_4
{
    transition: all 2.5s ease-in-out;
}
section.clients .client_flex .client_5
{
    transition: all 3s ease-in-out;
}
section.clients .client_flex .client_6
{
    transition: all 3.5s ease-in-out;
}
section.clients .client_flex .client_7
{
    transition: all 4s ease-in-out;
}
section.clients .client_flex .client_8
{
    transition: all 4.5s ease-in-out;
}
section.clients .client_flex .client_9
{
    transition: all 5s ease-in-out;
}
section.clients .client_flex .client
{
    /* opacity: 0; */
    transform: 
        perspective(1px)
        translateZ(300px);
    transform-style: preserve-3d;
}
section.clients .flex
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}
section.clients .flex > *{
    flex: 1 1 50px;
}
section.clients .row_grid
{
    display: grid;
    grid-template-columns: repeat(autofit, minmax(300px,1fr));
    grid-auto-columns: 1fr;
    grid-gap: 1rem;
    place-content: center;
}
section.clients .col
{
    padding: 1.5em;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .4rem;
}
.client_1,
.client_7
{
    color: var(--secondary-color);
}
.client_2,
.client_3,
.client_5,
.client_6,
.client_8,
.client_9
{
    color:var(--optional-color);
}
.client_4
{
    color: var(--primary-color);
}
.client_box
{
    height: 100%;
    width: 100%;
    max-width: 700px;
    aspect-ratio: .9/1;
    overflow: hidden;
    position: relative;
    flex: 1 1 400px;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;

    transform: translateX(100%);
    opacity: 0;
    transition: 1.4s ease-in-out;
}
.client_box img
{
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: var(--box-shadow);
}
.client_box .preview
{
    position: absolute;
    top: 35%;
    right: 5%;
    min-width: 250px;
    box-shadow: var(--box-shadow);
    align-items: flex-start;
    backdrop-filter: blur(20px);
    padding: 1.5rem 2rem;
    border-radius: 1rem;

    transform: translateX(100%);
    opacity: 0;
    transition: all 3s ease-in-out;
}
.client_box .preview *
{
    color: hsl(0, 0%, 100%);
    opacity: .8;
}
.client_box .style_box
{
    border-radius: 50% 1rem 50% 50%;
    background: var(--primary-color);
    width: 80%;
    height: 80%;
    box-shadow: var(--box-shadow);
    bottom: 0;
    left: 5%;
    position: absolute;
}

/* =========== projects (4) ========== */
section.projects *
{
    gap: 2rem;
    transition: transform .4s linear;
    transform-origin: top;
}
section.projects .flex_col .top
{
    box-shadow: var(--box-shadow);
    border-radius: 1em;
    overflow-y: scroll;
    max-height: 500px;
}
section.projects .flex_col .bottom
{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: stretch;
}
section.projects .flex_col .bottom > *
{
    flex: 1 1 300px;
}
section.projects .flex_col .left,
section.projects .flex_col .right
{
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
    overflow-y: scroll;
}
.custom
{
    max-width: 1200px;
}
.project_preview
{
    max-height: 400px;
    width: 100%;
    overflow: hidden scroll;
    background-position: top;
}
#projects_section.scrolled img
{    
    animation: preview 40s linear;
}
@keyframes preview
{
    0%
    {    
        transform: translateY(0);
    }    
    50%
    {    
        transform: translateY(-90%);
    }    
    100%
    {    
        transform: translateY(0);
    }    
}
section.projects img{
    cursor: pointer;
    background-position: top;
    transform: translate(0);
}
section.projects img:hover
{
    transform: scale(1.05);
}
/* ============= map (-2) ================= */
section.map_bg
{
    padding-inline: 0;
}
section.content .map
{
    background: url('../images/Screenshot (409).png') top no-repeat;
    width: 100%;
    background-size: cover;
    aspect-ratio: 8/4;
    box-shadow: inset var(--box-shadow);
    border-radius: 1rem;
    padding: 3vw;
    gap: 1rem;
    flex-wrap: wrap;
    filter: saturate(2);
}
section.content .map > *
{
    flex: 1 1 400px;
    width: 100%;
}
section.content .map .left > *
{
    width: 100%;
    color: hsl(0, 0%, 10%);
}
section.content .map .left .top
{
    flex-wrap: wrap;
}
section.content .map .left .top > *
{
    flex: 1 1 280px;
}
section.content .map .left .top .box
{
    padding: 1rem;
    justify-content: space-between;
    gap: 1rem;
}
section.content .map .left .top .box .icon
{
    font-size: 3em;
    border-radius: 50%;
    background: hsl(0, 0%, 10%);
    font-weight: 600;
    padding: .1rem;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
}
section.content .map .left .top .box .describe
{
    align-items: flex-start;
    width: 100%;
}
.lowercase
{
    text-transform: lowercase;
}
section.content .map .left .bottom
{
    justify-content: space-between;
    gap: 1rem;
    padding: 1.5rem;
}
section.content .map .left .bottom .right .link
{
    gap: 1rem;
    background: var(--light);
    color: var(--dark);
    border-radius: 50%;
    aspect-ratio: 1.5/1;
    text-align: center;
    font-weight: 700;
    text-transform: lowercase;
    padding: 1rem;
    box-shadow: var(--box-shadow);
    text-shadow: var(--box-shadow);
}
.map_link
{
    width: 100%;
    mix-blend-mode: multiply;
    padding: 0;
    margin: 0;
}
.map_link iframe
{
    width: 100%;
    padding: 0;
    margin: 0;
}

/* ============== links (-1) ============= */
section.links
{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow);
    border-radius: 2rem 2rem 0 0;
    padding: 2rem;
}
section.links .inside
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
}
section.links .inside .left
{
    gap: 2rem;
    flex: 1 1 400px;
    max-width: 520px;
}
section.links .inside .download
{
    width: 100%;
    flex-wrap: wrap;
}section.links .inside .download .glass
{
    justify-content: center;
    border-radius: .5rem;
    padding: .3rem;
    width: 100%;
    flex: 1 1 210px;
    /* max-width: 210px; */
    cursor: pointer;
}
section.links .inside .download .glass .left
{
    flex: 0;
}
.clip_text
{
    text-shadow: var(--box-shadow);
    border-radius: 50%;
    aspect-ratio: 1;
    background: var(--dark);
    color: transparent;
    padding: .1rem;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
}
section.links .inside .download .glass .left .icon
{
    font-size: 2.3em;
    border-radius: 50%;
    aspect-ratio: 1;
}
section.links .inside .download .glass .right
{
    align-items: flex-start;
    justify-content: center;
    gap: .5rem;
}
section.links .inside .download .glass .right p
{
    font-size: .8rem;
}
section.links .inside .download .glass .right h2
{
    font-size: 1.3rem;
}

section.links .inside .all_links
{
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    place-content: center;
    flex: 1 1 400px;
    max-width: 500px;
}
section.links .inside .all_links > *
{
    flex: 1 1 100px;
    align-items: flex-start;
}
.link_list
{
    align-items: flex-start;
}
.link_list li
{
    color: gray;
    cursor: pointer;
}
section.links .links_bottom .flex
{
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    overflow: hidden;
}

section.links .links_bottom .flex input{
    text-transform: lowercase;
}

/* =========== pricing (-4) =========== */
.pricing_boxes
{
    width: 100%;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 2rem;
}
.pricing_boxes .price_box_down
{
    box-shadow: inset var(--box-shadow);
    padding: 1.5rem;
    border-radius: 1rem;
    flex: 1 1 400px;
}
.pricing_boxes .price_box_up
{
    box-shadow: var(--box-shadow);
    padding: 3rem;
    border-radius: 1rem;
    gap: 2rem;
    flex: 1 1 400px;
    cursor: pointer;
    position: relative;
}
.pricing_boxes .price_box_down:hover .price_box_up
{
    transform: translateY(-20%);
}
.pricing_boxes .price_box_up .top
{
    gap: .6rem;
}
.pricing_boxes .price_box_up .middle
{
    align-items: flex-start;
    width: 100%;
}
.pricing_boxes .price_box_up button
{
    border-radius: 2rem;
}
.pricing_boxes .prige_box_2 .price_box_up::before
{
    content: '';
    width: inherit;
    height: inherit;
    border-radius: inherit;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--secondary-color);
    z-index: -1;
    opacity: .2;
    filter: blur(10px);
}
.pricing_boxes .prige_box_1 button,
.pricing_boxes .prige_box_3 button
{
    background: transparent;
    color: var(--primary-color);
}





/* ========== cards (-3) =========== */
.glass
{
    backdrop-filter: blur(10px);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: 1rem;
}

.cards .card_flex
{
    gap: 4rem;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
}
.cards .card_flex::before,
.cards .card_flex::after
{
    content: '';
    width: 100px;
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}
.cards .card_flex::before
{
    background: var(--primary-color);
    top: -2rem;
    left: 8rem;
}
.cards .card_flex::after
{
    background: var(--secondary-color);
    bottom: -2rem;
    right: 8rem;
}
.cards .card_flex .card *
{
    font-weight: 400;
    opacity: 1;
    color: gray;
}
.cards .card_flex .card h1{
    font-size: 2.8em;
    color: var(--dark);
}
.cards .card_flex .card .card_number
{
    gap: 3vw;
    font-size: 1.3em;
}
.cards .card_flex .card
{
    gap: 2rem;
    justify-content: space-between;
    width: 100%;
    flex: 1 1 500px;
    max-width: 500px;
    aspect-ratio: 1/.6;
    transition: all .4s ease-in-out;
    transform-style: preserve-3d;
    perspective: 100px;
    cursor: pointer;
}
.cards .card_flex .card_1:hover
{
    animation: card_animation_1 1s ease-in-out;
    z-index: 4;
}
.cards .card_flex .card_2
{
    transform: scale(1.05);
}
.cards .card_flex .card_2:hover
{
    transform: scale(1.1);
    z-index: 4;
}
.cards .card_flex .card_3:hover
{
    animation: card_animation_3 1s ease-in-out;
    z-index: 4;
}
@keyframes card_animation_1
{
    0%
    {
        z-index: 1;
    }
    30%
    {
        transform: translateX(-50%);
        z-index: 1;
    }
    100%
    {
        transform: translate(0);
    }
    
}
@keyframes card_animation_3
{
    0%
    {
        z-index: 1;
    }
    30%
    {
        transform: translateX(50%);
        z-index: 1;
    }
    100%
    {
        transform: translate(0);
    }
    
}
.cards .card_flex .card .left
{
    gap: 3rem;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}
.cards .card_flex .card .left .left_bottom
{
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}
.cards .card_flex .card .right
{
    justify-content: space-between;
    align-items: flex-end;
    gap: 3rem;
    height: 100%;
}
.cards .card_flex .card_2
{
    position: absolute;
    z-index: 2;
}
/* @media (min-width:1160px)
{
    .cards .card_flex .card_2
    {
        top: 3vw;
    }
} */
.card .logo span
{
    background: var(--light);
    box-shadow: var(--box-shadow);
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
}
.card .logo span:nth-child(1)
{
    margin-right: -2rem;
    z-index: 1;
}



/* scale calculation: 1 + ((z tran * -1) / perpec) */
/*                    1 + ((-100 * -1) / 100 */


/* ============== footer ============ */
footer
{
    box-shadow: var(--box-shadow);
    background: hsl(0, 0%, 0%);
}
footer section.content
{
    min-height: fit-content;
    padding: 1rem;
    position: relative;
}
/* slide button */
#slide_auto_down,
#slide_auto_up
{
    position: fixed;
    background: transparent;
    border: 3px solid var(--primary-color);
    width: 50px;
    height: 50px;
    bottom: 2.5rem;
    font-size: 1.6rem;
    padding: .0rem;
    font-weight: 900;
    aspect-ratio: 1;
    text-align: center;
    box-shadow: var(--box-shadow);
    text-shadow: var(--box-shadow);
    animation: down_top_down 1s ease-out infinite;
    opacity: 0;
    display: none;
    z-index: 0;
}
#slide_auto_down.show,
#slide_auto_up.show
{
    display: none;
    z-index: 999;
    opacity: .8;
}

#slide_auto_down a,
#slide_auto_up a{
    color: var(--primary-color);
    padding: 1rem;
}

#slide_auto_down.active,
#slide_auto_up.active
{
    display: block;
}
@keyframes down_top_down
{
    0%
    {
        transform: translateY(30px);
    }
    50%
    {
        transform: translateY(0px);
    }
    100%
    {
        transform: translateY(30px);
    }
}







/* =========== scrolling animation =========== */
/* hero */
#hero_section.scrolled
.heading_admin h1
{
    opacity: 1;
    transform: translateX(0);
}

/* tasks */
section.tasks .left_box,
section.tasks .right_box
{
    transition: .6s ease-in-out;
}
#tasks_section.scrolled 
section.tasks .left_box,
#tasks_section.scrolled 
section.tasks .right_box
{
    opacity: 1;
    transform: translateX(0);
}

/* clients */
#clients_section.scrolled
section.clients .client_flex .client
{
    opacity: 1;
    transform:
        translateZ(0);
}

#clients_section.scrolled .bottom
.client_box
{
    transform: translateX(0);
    opacity: 1;
}

#clients_section.scrolled .bottom
.client_box .preview
{
    transform: translateX(0);
    opacity: 1;
}